body {
  margin: 0;
  color: var(--vitx-built-black);
  font-size: 16px;
  font-family: 'Open Sans', -apple-system, BlinkMacSystemFont, 'Helvetica Neue', Helvetica, Segoe UI,
    Arial, Roboto, 'PingFang SC', 'miui', 'Hiragino Sans GB', 'Microsoft Yahei', sans-serif;
  background-color: var(--vitx-built-background-color);
  -webkit-font-smoothing: antialiased;
}

body[desktop] {
  overflow: hidden;
}

body[mobile] {
  &::-webkit-scrollbar {
    width: 0;
    height: 0;
    background-color: transparent;
  }

  padding: 20px;
}

p {
  margin: 0;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  margin: 0;
  font-size: inherit;
  outline: none;
}

ul,
ol {
  margin: 0;
  padding: 0;
  list-style: none;
}

a {
  text-decoration: none;
}
