@max-width-directory-media: 1400px;

.markdown-body {
  display: flex;
  padding: 0 var(--vitx-built-padding);
  transition: padding 0.3s;

  &__content {
    width: calc(100% - var(--vitx-built-directory-width));
    transition: width 0.3s;

    @media (max-width: @max-width-directory-media) {
      width: 100%;
    }
  }

  code {
    font-family: monospace, Consolas, Menlo, Monaco, Andale Mono, Ubuntu Mono;
  }

  ul li {
    list-style: initial;
  }

  h1,
  h2,
  h3,
  h4,
  h5,
  h6 {
    border: none;
  }

  .highlight pre,
  pre {
    font-size: 95%;
    background-color: #292d3e;
    color: #abb2bf;
    font-weight: 400;
    -webkit-font-smoothing: subpixel-antialiased;
  }
}

.hljs {
  &-comment,
  &-quote {
    color: #5c6370;
    font-style: italic;
  }

  &-doctag,
  &-keyword,
  &-formula {
    color: #88dcfe;
  }

  &-section,
  &-name,
  &-selector-tag,
  &-deletion,
  &-subst {
    color: #e06c75;
  }

  &-literal {
    color: #f697a6;
  }

  &-string,
  &-regexp,
  &-addition,
  &-attribute,
  &-meta &-string {
    color: #98c379;
  }

  &-symbol,
  &-bullet,
  &-link,
  &-meta,
  &-selector-id,
  &-title {
    color: #61aeee;
  }

  &-built_in,
  &-title.class_,
  &-class &-title {
    color: #ffcb6b;
  }

  &-emphasis {
    font-style: italic;
  }

  &-strong {
    font-weight: bold;
  }

  &-link {
    text-decoration: underline;
  }
}

.table-of-contents {
  position: sticky;
  top: 0;
  overflow: auto;
  flex-shrink: 0;
  box-sizing: border-box;
  padding: var(--vitx-built-padding) 0;
  padding-left: var(--vitx-built-padding);
  width: var(--vitx-built-directory-width);
  height: calc(100vh - var(--vitx-built-header-height));
  transition: all 0.3s;

  &::-webkit-scrollbar {
    width: 0;
    height: 0;
  }

  a {
    text-decoration: none;
    display: inline-flex;
    align-items: center;
    font-size: 12px;
    padding: 0px 8px 0px 10px;
    margin: 4px 0px 8px;
    border-left: 1px solid transparent;
    box-sizing: border-box;
    font-weight: 500;
    color: rgb(26, 32, 39);
    transition: all 0.3s;

    &:hover {
      text-decoration: none;
      border-left-color: rgb(178, 186, 194);
      color: rgb(111, 126, 140);
    }
  }

  .active-anchor {
    color: rgb(0, 114, 229);
    border-left: 1px solid rgb(153, 204, 243);
  }

  ul {
    padding-left: 10px;
    margin-bottom: 0;
  }

  li {
    list-style: none !important;
    & + li {
      margin-top: 0;
    }
  }

  @media (max-width: @max-width-directory-media) {
    margin-right: calc(0px - var(--vitx-built-directory-width));
    opacity: 0;
  }
}

/*
Atom One Dark by Daniel Gamage
Original One Dark Syntax theme from https://github.com/atom/one-dark-syntax
base:    #282c34
mono-1:  #abb2bf
mono-2:  #818896
mono-3:  #5c6370
hue-1:   #56b6c2
hue-2:   #61aeee
hue-3:   #c678dd
hue-4:   #98c379
hue-5:   #e06c75
hue-5-2: #be5046
hue-6:   #d19a66
hue-6-2: #e6c07b
*/
