:root {
  --vitx-built-black: #323233;
  --vitx-built-header-height: 64px;
  --vitx-built-nav-width: 250px;
  --vitx-built-padding: 24px;
  --vitx-built-background-color: #fff;
  --vitx-built-row-max-width: 1680px;
  --vitx-built-primary-color: #007fff;
  --vitx-built-border-color: #eaeef3;
  --vitx-built-simulator-width: 380px;
  --vitx-built-simulator-height: 620px;
  --vitx-built-border-radius: 20px;
  --vitx-built-directory-width: 220px;
}
