{
  "singleQuote": true,
  "trailingComma": "none",
  "printWidth": 100,
  "proseWrap": "never",
  "arrowParens": "always",
  "endOfLine": "lf",
  "semi": false,
  "overrides": [
    {
      "files": ".prettierrc",
      "options": {
        "parser": "json"
      }
    }
  ]
}
